<%# This will replace the <title> element in your page. By default, it uses the title key in your guides.yml %>
<%= content_for :page_title do %><%= Guides.meta["title"] %><% end %>

<%# This content will go in the top navigation area. Leave it blank if you don't want nav %>
<%= content_for :top_nav do %>
   <strong>More at <a href="http://www.carboncalculated.com/">carboncalculated.com:</a> </strong>
   <a href="http://www.carboncalculated.come/">Overview</a> |
   <a href="https://github.com/carboncalculated/calculated">Code</a> |
   <a href="http://www.carboncalculated.com">Screencasts</a> |
   <a href="http://miniapps.carboncalculated.com/">QA Application</a> |
   <a href="http://api-docs.carboncalculated.com">Api Docs</a> |
   <a href="http://blog.carboncalculated.com/">Blog</a>
<% end %>

<%# This content will be used when you mark your guides as belonging to an edge release of your project. It defaults
    to showing a diagonal "edge" badge %>
<%= content_for :edge do %>
  <div>
    <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
  </div>
<% end %>

<%= content_for :license do %>
  <p>This work is licensed under a
    <%= link_to "Creative Commons Attribution Share Alike 3.0", "http://creativecommons.org/licenses/by-sa/3.0/" %>
    license.
  </p>
  <p>
    <%# Any additional trademark information should be entered here %>
  </p>
<% end %>
